<template>
<div class="app-container">
<el-form :model="queryParams" :rules="rules" ref="queryParams"  :inline="true" v-show="showSearch" label-width="100px">
  <el-form-item label="银行卡名称" prop="bankName">
    <el-input
      v-model="queryParams.bankName"
      placeholder="请输入银行卡名称"
      clearable
      size="small"
    />
  </el-form-item>
  <el-form-item label="银行卡号" prop="bankNo">
    <el-input
      v-model="queryParams.bankNo"
      placeholder="请输入银行卡号"
      clearable
      size="small"
    />
  </el-form-item>
</el-form>
    <el-row :gutter="10" class="mb8" type="flex" justify="end">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
        >查询</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
        >删除</el-button>
      </el-col>

      <el-col :span="1.5">
        <right-toolbar :showSearch.sync="showSearch" @queryTable="handleRefresh"></right-toolbar>
      </el-col>
    </el-row>
  <el-table v-loading="loading" :data="bankcarList" @selection-change="handleSelectionChange">
    <el-table-column type="selection" width="55" align="center" />
    <el-table-column label="银行卡名称" align="center" prop="bankName" />
    <el-table-column label="银行卡号" align="center" prop="bankNo" />
    <el-table-column label="更新时间" align="center" prop="updateTime" />
    <el-table-column label="创建时间" align="center" prop="createTime" />
    <el-table-column label="创建人" align="center" prop="createUser" />
    <el-table-column label="更新人" align="center" prop="updateUser" />
  </el-table>
  <pagination
          v-show="total>0"
          :total="total"
          :page.sync="queryParams.pageNum"
          :limit.sync="queryParams.pageSize"
          @pagination="handleQuery"
  />
</div>
</template>

<script>
  export default {
    name: "Bankcar",
    data() {
      return {
        //表单显示隐藏
        showSearch: true,
        //按钮loading
        buttonLoading: false,
        // 遮罩层
        loading: false,
        direction: 'rtl',
        // 导出遮罩层
        exportLoading: false,
        // 查询参数
        total: 0,
        //是否多选
        multiple: false,
        //上传文件url
        upUrl: '',
        queryParams: {
          pageNum: 1,
          pageSize: 10,
          bankName: undefined,
          bankNo: undefined,
        },
        bankcarList: [],
        // 表单参数
        form: {},
        // 表单校验
        rules: {
          // bankName: [
          //     { required: true, message: "银行卡名称不能为空}", trigger: "blur" }],
          // bankNo: [
          //     { required: true, message: "银行卡号不能为空}", trigger: "blur" }],
        }
      }
    },
    created() {
      this.handleQuery()
    },
    methods:{
      /** 刷新 */
      handleRefresh(){
        this. handleQuery();
      },

      handleQuery(){
        this.$refs.queryParams.validate(valid => {
          if (valid) {
          this.$store.dispatch("bankcar/queryByPage", this.queryParams).then(response => {
            this.resourceList = response.row;
            this.total = response.total;
            this.loading = false;
            })
          }
        });
      },
      /** 新增或修改 */
      handleAddOrSave(){
        this.loading = true;
        this.$store.dispatch("bankcar/saveOrUp", this.queryParams).then(response => {
          this.loading = false;
          this.$message.success('提交成功');
        })
      },
      /** 导入 */
      handleImport(){
        this.drawer = true
      },
      /** 删除 */
      handleDelete(){
        this.$store.dispatch("bankcar/deleteById", this.queryParams).then(response => {
          this.loading = false;
          this.$message.success('删除成功');
        })
      },
      /** 导出 */
      handleExport(){
        this.$store.dispatch("bankcar/exportExcel", this.queryParams).then(response => {
          this.loading = false;
          this.$message.success('导出成功');
        })
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
        if (this.multipleSelection.length >0){
          this.multiple = false;
        }else {
          this.multiple = true;
        }
      },
      handleSizeChange(val) {
        this.queryParams.pageSize = val;
        this.handleQuery();
      },
      handleCurrentChange(val) {
        this.queryParams.pageNum = val;
        this.handleQuery();
      },
    }
  }
</script>

<style scoped>

</style>
